In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns
%matplotlib inline

# Reading The Dataset

In [6]:
data=pd.read_csv("C:/Users/abira/Downloads/Templates/Admission_Predict1.csv")
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
x=data.drop('Chance of Admit ',axis=1)

In [8]:
x

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0
...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1
396,397,325,107,3,3.0,3.5,9.11,1
397,398,330,116,4,5.0,4.5,9.45,1
398,399,312,103,3,3.5,4.0,8.78,0
399,400,333,117,4,5.0,4.0,9.66,1

In [9]:
y=data['Chance of Admit ']
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

# Training and Testing the Model

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20 ,random_state=42)

In [12]:
x_train

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
3,4,322,110,3,3.5,2.5,8.67,1
18,19,318,110,3,4.0,3.0,8.80,0
202,203,340,120,5,4.5,4.5,9.91,1
250,251,320,104,3,3.0,2.5,8.57,1
274,275,315,100,1,2.0,2.5,7.95,0
...,...,...,...,...,...,...,...,...
71,72,336,112,5,5.0,5.0,9.76,1
106,107,329,111,4,4.5,4.5,9.18,1
270,271,306,105,2,2.5,3.0,8.22,1
348,349,302,99,1,2.0,2.0,7.25,0
102,103,314,106,2,4.0,3.5,8.25,0

In [13]:
x_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
209,210,301,104,3,3.5,4.0,8.12,1
280,281,311,102,3,4.5,4.0,8.64,1
33,34,340,114,5,4.0,4.0,9.60,1
210,211,325,108,4,4.5,4.0,9.06,1
93,94,301,97,2,3.0,3.0,7.88,1
...,...,...,...,...,...,...,...,...
246,247,316,105,3,3.0,3.5,8.73,0
227,228,312,110,2,3.5,3.0,8.53,0
369,370,301,98,1,2.0,3.0,8.03,1
176,177,329,119,4,4.5,4.5,9.16,1
289,290,313,109,3,4.0,3.5,9.00,0

In [14]:
y_train

3      0.80
18     0.63
202    0.97
250    0.74
274    0.58
       ...
71     0.96
106    0.87
270    0.72
348    0.57
102    0.62
Name: Chance of Admit , Length: 320, dtype: float64

In [15]:
y_test

209    0.68
280    0.68
33     0.90
210    0.79
93     0.44
       ...
246    0.72
227    0.64
369    0.67
176    0.90
289    0.79
Name: Chance of Admit , Length: 80, dtype: float64

In [16]:
y_train=(y_train>0.5)
y_train

3      True
18     True
202    True
250    True
274    True
       ...
71     True
106    True
270    True
348    True
102    True
Name: Chance of Admit , Length: 320, dtype: bool

In [17]:
y_test=(y_test>0.5)
y_test

209     True
280     True
33      True
210     True
93     False
       ...
246     True
227     True
369     True
176     True
289     True
Name: Chance of Admit , Length: 80, dtype: bool

In [18]:
x_train.shape

(320, 8)

In [19]:
x_test.shape

(80, 8)

In [20]:
y_train.shape

(320,)

In [21]:
y_test.shape

(80,)

# Feature Scaling

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc=StandardScaler()

In [24]:
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [25]:
x_train

array([[-1.76561509,  0.45711129,  0.42466178, ..., -1.05965163,
         0.13986648,  0.92761259],
       [-1.63287455,  0.1022887 ,  0.42466178, ..., -0.50194025,
         0.36110014, -1.07803625],
       [-0.00459061,  2.05381293,  2.08593034, ...,  1.17119391,
         2.25009529,  0.92761259],
       ...,
       [ 0.5971665 , -0.96217907, -0.40597251, ..., -0.50194025,
        -0.62594237,  0.92761259],
       [ 1.2874173 , -1.31700165, -1.40273364, ..., -1.61736302,
        -2.27668588, -1.07803625],
       [-0.88952753, -0.25253389, -0.23984565, ...,  0.05577114,
        -0.57488845, -1.07803625]])

In [26]:
x_test

array([[ 0.05735497, -1.4057073 , -0.57209936, -0.057308  ,  0.12715607,
         0.61348253, -0.79612211,  0.92761259],
       [ 0.68566019, -0.51865083, -0.90435307, -0.057308  ,  1.10763663,
         0.61348253,  0.08881255,  0.92761259],
       [-1.50013401,  2.05381293,  1.0891692 ,  1.6892215 ,  0.61739635,
         0.61348253,  1.72253809,  0.92761259],
       [ 0.06620434,  0.72322823,  0.09240806,  0.81595675,  1.10763663,
         0.61348253,  0.80356748,  0.92761259],
       [-0.96917186, -1.4057073 , -1.73498736, -0.93057275, -0.36308421,
        -0.50194025, -1.2045535 ,  0.92761259],
       [-1.04881618,  2.05381293,  1.25529606,  1.6892215 ,  1.10763663,
         1.17119391,  1.46726848,  0.92761259],
       [ 1.11927928, -1.76052989, -1.90111421, -0.93057275, -0.85332449,
        -2.17507441, -1.18753552, -1.07803625],
       [-0.96032249, -1.22829601, -1.40273364, -0.057308  , -1.34356476,
        -1.05965163, -1.57894893, -1.07803625],
       [ 0.56176902, -0.42994518, -0.40597251, -0.93057275, -1.34356476,
        -1.05965163, -0.23452896, -1.07803625],
       [-0.67714267,  0.54581693,  0.92304235, -0.057308  ,  0.61739635,
        -0.50194025,  1.24603481,  0.92761259],
       [-1.71251887,  0.54581693,  0.09240806, -0.057308  ,  0.12715607,
        -0.50194025,  0.02074066, -1.07803625],
       [ 1.4024591 ,  1.52157905,  1.42142291,  0.81595675,  0.61739635,
         0.05577114,  1.62043024,  0.92761259],
       [-1.29659852, -0.07512259, -0.90435307, -0.057308  , -1.34356476,
        -0.50194025, -2.02141626, -1.07803625],
       [-1.15500861,  0.36840564,  0.59078863,  1.6892215 ,  1.59787691,
         1.7289053 ,  1.46726848,  0.92761259],
       [-0.62404646, -0.69606212, -0.40597251,  1.6892215 ,  0.12715607,
         0.05577114, -0.04733124, -1.07803625],
       [-1.42048969, -0.34123954, -0.07371879, -0.93057275, -0.85332449,
        -1.61736302, -0.14943909,  0.92761259],
       [ 0.66796145, -0.78476777, -0.73822622, -0.93057275, -0.36308421,
         0.05577114, -0.16645706, -1.07803625],
       [ 1.53519964, -1.76052989, -1.90111421, -0.93057275, -0.85332449,
        -1.61736302, -1.97036234, -1.07803625],
       [ 0.2520411 ,  0.19099435, -0.23984565, -0.057308  ,  0.12715607,
        -1.05965163, -0.43874465,  0.92761259],
       [ 1.61484396,  1.6102847 ,  1.58754977,  1.6892215 ,  1.59787691,
         1.7289053 ,  2.09693353,  0.92761259],
       [-1.11076176, -1.4057073 , -1.40273364, -0.93057275, -0.36308421,
        -1.61736302, -0.62594237, -1.07803625],
       [-1.65942266, -0.25253389, -0.40597251, -0.057308  ,  0.12715607,
        -1.05965163, -0.48979857, -1.07803625],
       [ 1.66794017,  0.1022887 , -0.23984565, -0.057308  , -1.34356476,
        -0.50194025,  0.10583053, -1.07803625],
       [ 0.60601587, -1.58311859, -1.90111421, -0.93057275, -1.83380504,
        -1.61736302, -1.23858944, -1.07803625],
       [-1.79216319,  1.78769599,  1.75367663,  0.81595675,  1.10763663,
         1.17119391,  1.80762796,  0.92761259],
       [ 1.71218702,  0.72322823, -0.07371879, -0.057308  , -0.36308421,
         0.05577114,  0.88865735,  0.92761259],
       [-0.7833351 , -0.51865083, -0.40597251, -0.057308  ,  0.12715607,
        -0.50194025, -0.23452896,  0.92761259],
       [ 0.19894488, -1.84923554, -1.40273364, -0.93057275, -0.85332449,
        -1.05965163, -0.94928388, -1.07803625],
       [ 0.52637154, -0.78476777, -0.73822622, -0.93057275, -0.85332449,
         0.61348253, -0.38769073,  0.92761259],
       [-0.87182879,  0.81193388,  0.75691549, -0.057308  ,  0.12715607,
        -0.50194025,  0.7865495 ,  0.92761259],
       [ 1.70333765,  0.63452258,  0.42466178, -0.057308  ,  0.12715607,
         0.05577114,  0.76953153,  0.92761259],
       [-0.08423493,  1.69899035,  1.75367663,  1.6892215 ,  1.10763663,
         1.7289053 ,  1.60341227,  0.92761259],
       [ 0.51752217, -0.42994518, -0.57209936, -0.057308  ,  0.12715607,
         0.61348253, -0.84717604, -1.07803625],
       [-1.28774915, -1.67182424, -1.40273364, -0.93057275,  0.61739635,
        -1.61736302, -1.68105678, -1.07803625],
       [ 0.26089047, -0.42994518, -0.07371879, -0.93057275, -0.85332449,
         0.05577114, -0.5408525 , -1.07803625],
       [-0.76563636, -1.58311859, -0.90435307, -0.057308  ,  0.61739635,
         0.05577114,  0.0547766 , -1.07803625],
       [-0.79218447,  0.27969999,  0.42466178, -0.93057275,  0.61739635,
         0.05577114, -0.04733124, -1.07803625],
       [ 1.23432108, -0.78476777, -0.23984565, -0.057308  , -0.36308421,
        -0.50194025, -0.59190642, -1.07803625],
       [-0.39396286, -0.96217907, -0.23984565, -0.93057275, -1.34356476,
        -1.05965163, -0.76208616, -1.07803625],
       [-0.54440213,  1.34416776,  1.75367663, -0.93057275,  1.10763663,
         0.05577114,  1.31410671,  0.92761259],
       [ 1.57944648,  0.19099435, -0.40597251, -0.057308  , -0.36308421,
         0.05577114,  0.13986648,  0.92761259],
       [-1.30544789,  0.27969999, -0.73822622, -0.057308  , -0.36308421,
        -0.50194025, -1.51087703, -1.07803625],
       [-1.11961113,  0.90063952,  0.75691549, -0.057308  , -0.36308421,
        -0.50194025,  0.22495635,  0.92761259],
       [-1.57092896,  2.05381293,  2.08593034,  1.6892215 ,  1.10763663,
         1.17119391,  1.72253809,  0.92761259],
       [-1.06651492,  0.27969999,  0.42466178,  1.6892215 ,  1.59787691,
         1.17119391,  1.07585507,  0.92761259],
       [ 1.58829585,  0.63452258,  0.42466178,  0.81595675,  1.10763663,
         0.61348253,  0.95672924,  0.92761259],
       [-0.48245655,  1.96510729,  1.42142291,  0.81595675,  0.61739635,
         0.05577114,  2.06289758,  0.92761259],
       [-0.19042736, -1.05088471, -0.07371879, -0.93057275, -0.85332449,
        -1.05965163, -0.28558288, -1.07803625],
       [-1.59747707,  0.98934517,  1.42142291,  1.6892215 ,  1.59787691,
         1.7289053 ,  1.55235835,  0.92761259],
       [-0.26122232,  0.54581693,  0.92304235,  0.81595675,  0.61739635,
         1.17119391,  1.09287304,  0.92761259],
       [-1.38509221,  1.07805082,  1.0891692 ,  1.6892215 ,  0.61739635,
         1.7289053 ,  1.21199886,  0.92761259],
       [ 1.04848433,  0.54581693, -0.57209936, -0.057308  ,  0.61739635,
         0.61348253, -0.25154693,  0.92761259],
       [ 1.1989236 ,  0.54581693,  0.09240806,  1.6892215 ,  0.61739635,
         0.61348253,  0.2589923 ,  0.92761259],
       [-1.17270735,  1.34416776,  1.75367663,  1.6892215 ,  1.59787691,
         1.7289053 ,  1.79060999,  0.92761259],
       [ 1.5175009 , -0.16382824, -0.40597251, -0.93057275, -1.34356476,
        -1.05965163, -1.59596691, -1.07803625],
       [-1.44703779, -0.87347342,  0.09240806, -0.93057275,  0.61739635,
         0.05577114, -1.51087703, -1.07803625],
       [ 0.18124614, -0.78476777,  0.25853492, -0.93057275, -0.36308421,
         0.61348253, -0.23452896, -1.07803625],
       [-0.27007169,  0.45711129,  0.42466178,  0.81595675,  0.61739635,
         1.7289053 ,  0.9226933 ,  0.92761259],
       [-1.52668212, -1.49441295, -1.73498736, -0.93057275, -0.36308421,
        -0.50194025, -0.83015806,  0.92761259],
       [-0.44705907,  0.36840564,  0.75691549,  1.6892215 ,  1.59787691,
         1.7289053 ,  0.80356748,  0.92761259],
       [-0.69484141, -1.4057073 , -0.23984565,  0.81595675, -0.85332449,
        -0.50194025, -0.20049301, -1.07803625],
       [ 0.80955136, -0.07512259, -1.07047993, -0.93057275, -0.85332449,
        -1.61736302, -0.45576263,  0.92761259],
       [ 0.46442596, -0.87347342,  0.42466178,  0.81595675,  0.61739635,
         1.17119391, -0.37067275, -1.07803625],
       [-1.10191239, -1.84923554, -2.06724107, -0.93057275, -0.36308421,
        -1.61736302, -1.78316462,  0.92761259],
       [-0.8983769 , -0.42994518, -0.40597251, -0.93057275, -0.85332449,
        -0.50194025, -0.79612211, -1.07803625],
       [-1.51783275,  0.90063952, -0.73822622, -0.057308  ,  0.61739635,
         0.61348253, -0.48979857,  0.92761259],
       [ 1.32281477, -1.22829601, -1.23660679, -0.93057275, -0.36308421,
         0.05577114, -0.89822996,  0.92761259],
       [ 0.57946776,  0.90063952,  0.92304235,  0.81595675,  1.10763663,
         1.7289053 ,  0.93971127, -1.07803625],
       [ 1.69448828,  1.07805082,  0.59078863,  0.81595675,  1.10763663,
         0.61348253,  1.09287304,  0.92761259],
       [-1.14615924, -0.25253389,  0.09240806,  0.81595675,  1.10763663,
         0.61348253,  0.76953153,  0.92761259],
       [ 1.03963496,  0.01358305, -0.23984565, -0.057308  ,  0.61739635,
         0.05577114, -0.14943909,  0.92761259],
       [-0.5532515 ,  1.07805082,  0.42466178, -0.93057275,  0.61739635,
        -0.50194025,  0.95672924,  0.92761259],
       [-1.74791635,  1.16675646,  1.25529606,  1.6892215 ,  1.10763663,
        -0.50194025,  1.28007076,  0.92761259],
       [-1.39394158,  0.45711129,  0.42466178,  1.6892215 ,  1.59787691,
         0.61348253,  0.87163937,  0.92761259],
       [ 1.64139207, -1.84923554, -1.73498736, -0.93057275, -1.83380504,
        -1.61736302, -1.34069729, -1.07803625],
       [ 0.38478164, -0.07512259, -0.40597251, -0.057308  , -0.36308421,
         0.05577114,  0.24197432, -1.07803625],
       [ 0.21664362, -0.42994518,  0.42466178, -0.93057275,  0.12715607,
        -0.50194025, -0.09838516, -1.07803625],
       [ 1.47325405, -1.4057073 , -1.5688605 , -1.8038375 , -1.34356476,
        -0.50194025, -0.94928388,  0.92761259],
       [-0.23467421,  1.07805082,  1.91980348,  0.81595675,  1.10763663,
         1.17119391,  0.97374722,  0.92761259],
       [ 0.76530451, -0.34123954,  0.25853492, -0.057308  ,  0.61739635,
         0.05577114,  0.70145963, -1.07803625]])

In [27]:
y_train

3      True
18     True
202    True
250    True
274    True
       ...
71     True
106    True
270    True
348    True
102    True
Name: Chance of Admit , Length: 320, dtype: bool

In [28]:
y_test

209     True
280     True
33      True
210     True
93     False
       ...
246     True
227     True
369     True
176     True
289     True
Name: Chance of Admit , Length: 80, dtype: bool

# Model Evaluation

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [30]:
lr =LinearRegression()
lr.fit(x_train,y_train)

svm = SVR()
svm.fit(x_train,y_train)

rf =RandomForestRegressor()
rf.fit(x_train,y_train)

gr =GradientBoostingRegressor()
gr.fit(x_train,y_train)

GradientBoostingRegressor()

In [32]:
gr.score(x_test,y_test)

0.367989106455507

# Prediction on Dataset

In [35]:
y_pred1 = lr.predict(x_test)
y_pred2 = svm.predict(x_test)
y_pred3 = rf.predict(x_test)
y_pred4 = gr.predict(x_test)

# Evaluating the Algorithm

In [36]:
from sklearn import metrics

In [37]:
score1 = metrics.r2_score(y_test,y_pred1)
score2 = metrics.r2_score(y_test,y_pred2)
score3 = metrics.r2_score(y_test,y_pred3)
score4 = metrics.r2_score(y_test,y_pred4)

In [38]:
print(score1,score2,score3,score4)

0.2557583711331006 0.41510525947260757 0.5291999999999999 0.367989106455507

In [39]:
final_data = pd.DataFrame({'Models':['LR','SVR','RF','GR'],'R2_SCORE':[score1,score2,score3,score4]})
final_data

  Models  R2_SCORE
0     LR  0.255758
1    SVR  0.415105
2     RF  0.529200
3     GR  0.367989